.field {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.field__label {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 0.9rem;
}

.field__input {
	border: 1px solid var(--input-border-color) !important;
	border-radius: 8px;
	padding: 12px 8px;
	color: var(--main-font-color);
	outline: none;
	background-color: var(--input-background-color);
}

.field__input:focus {
	outline: 2px solid #ffffff4a;
}

.field__error {
	font-weight: 400;
	font-size: 0.75rem;
	color: #ff7070;
}
